@import "mixins";
@import "variables";
@import "material";
@import "app";
@import "auth";
@import "auth-profile";
@import "auth-profile-image";
@import "header";
@import "navigation";
@import "match";
@import "match-team";
@import "match-player";
@import "match-score";
@import "match-score-input";

* {
    box-sizing: border-box;
    font-family: $font;
    font-size: 14px;
}

body {
    margin: 0;
    color: $primary-color;
}

a {
    @include no-outline;
    text-decoration: none;
    color: inherit;
}
